h5 {
  color: #4b3929;
  letter-spacing: .1875em;
  line-height: 1.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
}

#page-banner p {
  position: relative;
  font-size: 18px;
  top: 30%;
  color: #fff;
}

#slide-one {
  background-image: linear-gradient(#1b27afb7, #1b27afb7), url(../images/slides/img1.png);
  background-size: cover;
  background-position: center center;
}

/* Footer */
#footer {
  /* height: 50px; */
  margin: 0;
}

#footer h6 {
  color: white;
  margin: 20px 0;
}

.f-social-links i {
  color: white;
  margin: 10px 0;
}

/* One */

#one img {
  margin: 0;
  width: 85%;
}

#one h2,
#one h4 {
  margin: 50px;
}

/* Two */

#two img {
  margin: 0;
  width: 60%;
}

#two p {
  width: 70%;
  word-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  #about p {
    margin: 35px;
    width: 80%;
  }

}

/* Three */
#three p {
  font-family: 'Josefin Sans';
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .info {
    margin-left: auto !important;
  }

  #intro {
    margin: auto !important;
    width: 90% !important;
  }
}

#leader span {
  border-bottom: 2px solid #4b3929;
}

.info {
  margin-left: 70px !important;
}

#name {
  font-size: 18px;
  font-weight: 700;
}

#name-sm {
  font-weight: 700;
}

#intro {
  width: 80%;
  margin-top: 10px !important;
}

.profile-pic {
  margin: 10px 20px;
}

.profile-pic img {
  width: 90px;
}

#pic-div {
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .profile-pic {
    width: 90px;
  }
}

/* Four */
#four p {
  font-family: 'Josefin Sans';
  margin: 0;
}

/* Five */
#five {
  padding: 35px 110px;
  box-shadow: 0px 5px 20px 10px rgba(197, 197, 197, 0.685);
}

#five p {
  width: 50%;
  font-size: 18px;
}

@media only screen and (max-width:768px) {
  #five {
    padding: 35px 10%;
  }

  #five p {
    width: 90%
  }
}