#page-banner .row {
    height: 100%;
}

#page-banner {
    height: auto;
}

#content {
    padding: 50px;
    width: 70%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #content {
        width: 100%;
        padding-top: 0;
    }

    #faq-nav {
        width: 100%;
    }
}

#content h4 {
    top: 0;
    letter-spacing: -3px;
    margin: 0;
}

h4.head {
    letter-spacing: -3px;
    margin: 10px;
    text-align: center;
}

#content h5 {
    color: #4b3929;
    letter-spacing: .0875em;
    margin-top: 25px;
    margin-bottom: 10px;
}

.collapsible-header,
.collapsible-body {
    background: transparent;
    font-family: 'Josefin Sans';
}

.collapsible-header i {
    right: 0;
}

.collapsible {
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

.ques-box p {
    margin: 0;
    width: 100%;
}

.borderBottom {
    border-bottom: 1px solid;
}

#faq-nav {
    height: 100%;
    width: 30%;
    padding: 50px;
    border: none;
}

#faq-nav li {
    font-size: 14px;
    font-family: 'Josefin Sans';
    height: 50px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    #faq-nav {
        width: 100%;
        padding: 10px 50px;
    }
}

#services {
    display: block;
}

#del {
    display: none;
}

#rtrn {
    display: none;
}

#pay {
    display: none;
}