@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

.leckerli {
    font-family: 'Leckerli One';
}

.banner-inner {
    background-image: linear-gradient(to right bottom, rgba(202, 202, 211, 0.5), rgba(17, 14, 216, 0.5)),
        url(../images/how/settings.png);
    background-size: cover;
    background-position: center center;
}

#head {
    background: #ff008d80;
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}

#head p {
    font-size: 5.5rem;
    line-height: 8rem;
    text-align: center;
    width: 100%;
    color: white;
}

#head p span {
    font-family: 'Leckerli One';
    font-size: 8rem;
}

#one {
    height: 500px;
}

.connect {
    width: 250px;
}

.parallax-img {
    filter: blur(4px);
}

.parallax-head {
    text-align: center;
    width: 100%;
    line-height: 5rem;
    font-weight: 700;
    font-size: 7em;
}

.section li {
    margin: 25px 0;
    width: 90%;
    font-size: 18px;
}