@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

/* Class for when element is above threshold */
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */
.pinned {
    position: fixed !important;
}

.leckerli {
    font-family: 'Leckerli One';
}

.banner-inner {
    background-image: linear-gradient(to right bottom, rgba(202, 202, 211, 0.5), rgba(17, 14, 216, 0.5)),
        url(../images/how/settings.png);
    background-size: cover;
    background-position: center center;
}

#head {
    background: #ff008d80;
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}

#head p {
    font-size: 5.5rem;
    line-height: 8rem;
    text-align: center;
    width: 100%;
    color: white;
}

#head p span {
    font-family: 'Leckerli One';
    font-size: 8rem;
}

#one {
    height: 100vh;
}

#two {
    height: 100vh;
}

#three {
    height: 100vh;
}

.connect {
    width: 250px;
}

.parallax-img {
    filter: blur(4px);
}

.head {
    /* text-align: center; */
    width: 100%;
    margin: 2rem 0 0rem 4rem;
    line-height: 5rem;
    font-weight: 700;
    font-size: 4rem;
}

.head span {
    text-decoration: underline;
}

.section li {
    margin: 25px 0;
    width: 90%;
    font-size: 16px;
}

.pd-70 {
    padding: 0 70px !important;
}

.section {
    height: 100vh;
}

.row {
    height: 100%;
}