/* Head */
#main h4 {
    margin: 25px 0;
    letter-spacing: 5px;
    opacity: 0.8;
    width: 100%;
    text-align: center;

}

.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab a {
    background-color: transparent;
    color: #000;
}

.tabs .indicator {
    background-color: #000;
}

/* board */
.board,
#main ul {
    width: 90%;
    margin: auto;
}

.board .row {
    height: 100%;
}

.board .col {
    padding: 0;
}

.thumb {
    margin: 10px 12px;
    width: 300px;
}

.thumb:hover {
    box-shadow: 5px 5px 20px 10px #aaa;

    transition: 0.2s;
}

#follow {
    padding: 0 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 35px;
}

.text {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding: 10px;
}

.text i {
    -webkit-text-fill-color: red;
}

/* Footer */
#footer {
    /* height: 50px; */
    margin: 0;
}

#footer h6 {
    color: white;
    margin: 20px 0;
}

.f-social-links i {
    color: white;
    margin: 10px 0;
}