body {
  font-family: "Lato", sans-serif;
  font-weight: 480;
  padding: 0;
  line-height: 1.7;
  color: #777;
}

.comfortaa {
  font-family: "Comfortaa";
}

.head-font {
  font-family: "Abril Fatface";
}

.righteous {
  font-family: "Righteous";
}

.mx-auto {
  margin: 0 auto;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #acacac;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
}

#mg-0-10 {
  margin: 0 10px;
}

#info-block {
  height: 170px;
  background: url(images/hero-small.jpg) center center fixed;
  background-size: 100%;
}

.brand-logo {
  font-family: "Righteous";
  color: black !important;
}

@media only screen and (max-width: 728px) {
  /* Medium Devices */
}

nav ul a {
  color: black;
}

#info-block div {
  background: #212121b0;
  height: 100%;
}

#home-div {
  height: 750px;
  background: url(images/interior1.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 0px 100%);
  background-position: center top;
}

#home-div .row {
  position: absolute;
  top: 18%;
  margin-left: 18%;
}

#head-quote {
  font-family: "Abril Fatface";
  background: #dcffe1 url(images/hero.jpg);
  background-size: cover;
  height: 300px;
  width: 225px;
  margin-left: 10%;
  border: 10px solid #424242;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  #home-div .row {
    position: absolute;
    top: 10%;
    margin: 2%;
  }

  #home-div {
    height: 750px;
    background: url(images/interior1.jpg);
    background-size: cover;
    clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 0px 100%);
    background-position: center top;
  }

  #head-quote {
    font-family: "Abril Fatface";
    background: #dcffe1 url(images/hero.jpg);
    background-size: cover;
    height: 250px;
    width: 200px;
    margin: 0 auto;
    border: 10px solid #424242;
    padding: 15px;
  }
}

#work-div {
  padding: 0;
  margin: 5% 0;
  height: 450px;
  background-image: linear-gradient(
      to right bottom,
      rgba(85, 40, 250, 0.8),
      rgba(68, 236, 90, 0.8)
    ),
    url(images/nat-4.jpg);
  background-size: cover;
  position: relative;
  transform: skewY(-4.75deg);
  background-position: center top;
}

.question {
  background-color: rgb(101, 255, 204);
  padding: 2%;
  color: white;
  position: absolute;
  top: 0;
  width: 20em;
}

.text-banner {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: "Nunito";
}

#work-methods i {
  margin: 0 10px;
}

blockquote {
  padding: 7px;
}
