body {
  font-family: "Lato", sans-serif;
  font-weight: 480;
  padding: 0;
  line-height: 1.7;
  color: #777;
}

.comfortaa {
  font-family: "Comfortaa";
}

.head-font {
  font-family: "Abril Fatface";
}

.righteous {
  font-family: "Righteous";
}

.mx-auto {
  margin: 0 auto;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #acacac;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
}

#mg-0-10 {
  margin: 0 10px;
}

#info-block {
  height: 170px;
  background: url(images/hero-small.jpg) center center fixed;
  background-size: 100%;
}

.brand-logo {
  font-family: "Righteous";
  color: black !important;
}

@media only screen and (max-width: 728px) {
  /* Medium Devices */
}

nav ul a {
  color: black;
}

#info-block div {
  background: #212121b0;
  height: 100%;
}

#home-div {
  height: 750px;
  background: url(images/interior1.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 0px 100%);
  background-position: center top;
}

#home-div .row {
  position: absolute;
  top: 18%;
  margin-left: 18%;
}

#head {
  letter-spacing: 5px;
  font-family: "Nunito", sans-serif;
}

#head-quote {
  font-family: "Abril Fatface";
  background: #dcffe1 url(images/hero.jpg);
  background-size: cover;
  height: 300px;
  width: 225px;
  margin-left: 10%;
  border: 10px solid #424242;
  padding: 15px;
}
/* 
.composition {
  position: relative;
}

.composition__photo {
  width: 42%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  border: 0.5rem solid white;
  position: relative;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 0.5rem;
}
.composition__photo--p1 {
  left: 3em;
  top: 1em;
}
.composition__photo--p2 {
  right: 3em;
  top: 8rem;
}
.composition__photo--p3 {
  left: 1em;
  top: 3em;
}
.composition__photo:hover {
  outline: 0.5rem solid #55c57a;
  transform: scale(0.9) translateY(-0.5rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
} */

@media only screen and (max-width: 600px) {
  /* .composition__photo--p1 {
    left: 2em;
    top: 3rem;
  }
  .composition__photo--p2 {
    right: 0em;
    top: 8rem;
  }
  .composition__photo--p3 {
    left: 4em;
    top: 5rem;
  }

  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    border: 0.5rem solid white;
    position: relative;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.5rem; 
  }*/

  #home-div {
    height: 850px;
    background: linear-gradient(to right bottom, #00b0ff, #b3e5fc) !important;
    position: relative;
    clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 0px 100%);
    background-position: center top;
  }
  /* #work-sec {
    margin-top: 60%;
  } */
}

.carousel {
  height: 500px !important;
}

#work-div {
  padding: 0;
  margin: 5% 0;
  height: 450px;
  background-image: linear-gradient(
      to right bottom,
      rgba(85, 40, 250, 0.8),
      rgba(68, 236, 90, 0.8)
    ),
    url(images/nat-4.jpg);
  background-size: cover;
  position: relative;
  transform: skewY(-4.75deg);
  background-position: center top;
}

.question {
  background-color: rgb(101, 255, 204);
  padding: 2%;
  color: white;
  position: absolute;
  top: 0;
  width: 20em;
}

.text-banner {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: "Nunito";
}

#work-methods i {
  margin: 0 10px;
}

blockquote {
  padding: 7px;
}
