body {
  font-family: "Lato", sans-serif;
  font-weight: 480;
  padding: 0;
  line-height: 1.7;
  color: #777;
}

.comfortaa {
  font-family: "Comfortaa";
}

.head-font {
  font-family: "Abril Fatface";
}

.righteous {
  font-family: "Righteous";
}

.mx-auto {
  margin: 0 auto;
}

#mg-0-10 {
  margin: 0 10px;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #acacac;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
}

/* Small Devices */
@media only screen and (max-width: 600px) {
  /* Properties */
  #home-div .row {
    position: absolute;
    top: 18%;
  }

  #home-div {
    height: 750px;
    background: url(images/interior1.jpg);
    background-size: cover;
    clip-path: polygon(0px 0px, 100% 0px, 100% 97%, 0px 100%);
    background-position: center top;
  }

  #head-quote {
    background: #dcffe1 url(images/hero.jpg);
    background-size: cover;
    height: 15%;
    width: 200px;
    margin: 0 auto;
    border: 10px solid #424242;
    padding: 15px;
  }
}

/* Medium Devices */
@media only screen and (max-width: 728px) {
  /* Properties */
}

/* Navigation Pane */
#info-block {
  height: 170px;
  background: url(images/hero-small.jpg) center center fixed;
  background-size: 100%;
}

.brand-logo {
  font-family: "Righteous";
  color: black !important;
}

nav ul a {
  color: black;
}

#info-block div {
  background: #212121b0;
  height: 100%;
}

/* Header */
#home-div {
  height: 750px;
  background: url(images/header-bg.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0px 0px, 100% 0px, 100% 97%, 0px 100%);
  background-position: center top;
}

#home-div .row {
  position: absolute;
  top: 18%;
  /* margin-left: 18%; */
}

#head-quote {
  font-family: "Abril Fatface";
  background: #dcffe1 url(images/hero.jpg);
  background-size: cover;
  height: 300px;
  width: 225px;
  margin-left: 10%;
  border: 10px solid #424242;
  padding: 15px;
}

/* Work Section */
#work-div {
  padding: 0;
  margin: 5% 0;
  background-size: cover;
  position: relative;
  background-position: center top;
}

.process {
  width: 90px;
}

/* News Section */
#new-section {
  margin: 0 !important;
}

#news-section img {
  margin: 0;
  padding: 10px;
}

/* Footer Section */
#footer {
  height: 50px;
  margin: 0;
}
